<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>index</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h2>Tervetuloa ravintolaan!</h2>

        <h3>Raaka-aineiden luettelo:</h3>
        
        <ul>
            <li th:each="raakaAine: ${raakaAineLista}"><span th:text="${raakaAine.nimi}">nimi</span>
            <form method="POST" th:action="@{~/poisto/{raakaAineId}(raakaAineId=${raakaAine.id})}" style="display: inline-block">
                    <input type="submit" value="Poista"/>
            </form>
            </li>
        </ul>
        
        <h4>Raaka-aineen lisäys</h4>
        
        <form method="POST" action="/lisays">
            Nimi:<br/>
            <input type="text" name="nimi"/>
            <input type="submit" value="Lisää"/>
        </form>
    </body>
</html>
